@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&amp;family=Open+Sans:wght@400;500;600;700;800&amp;display=swap");
::-webkit-scrollbar {
  width: 12px;
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #074130;
  border-radius: 20px;
  border: 2px solid white;
}
/** RETIRA O SUBLINHADO DOS LINKS **/
a,
a:active,
a:hover,
a:visited {
  color: unset !important;
}
html {
  scroll-behavior: smooth;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/** BANNER **/
.banner {
  background: linear-gradient(
      0deg,
      rgba(1, 64, 46, 0.05),
      rgba(1, 64, 46, 0.05)
    ),
    url(../img/bg1-glicozine.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
}
.banner h1 {
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 44px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.banner h4 {
  color: #ffc502;
  font-family: "Open Sans", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 0.8px;
  stroke-width: 0.8px;
  -webkit-text-stroke-color: #ffc502;
  stroke: #ffc502;
  margin-bottom: 20px;
}
.experimentar {
  font-family: "Tahoma", Sans-serif;
  font-size: 19px;
  font-weight: 800;
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(240deg, #8f221b 0%, #cc1f13 100%);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #5b110c;
  border-radius: 63px 63px 63px 63px;
  padding: 15px 60px 15px 60px;
}
.experimentar:hover {
  color: #ffffff;
}
.experimentar i {
  color: #ffffff !important;
}
.pulse {
  animation: pulse 1s infinite;
}
@keyframes pulse {
  from,
  to {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
}
.frascos-banner {
  position: relative;
  margin-bottom: -3rem;
  margin-top: 1rem;
}
.banner p {
  font-family: "Open Sans", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  color: #ffffff;
}
.banner i {
  color: #ffc502;
  font-size: 18px;
  padding-right: 5px;
}
/** BENEFÍCIOS **/
.beneficios {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/bg2-6.jpg);
  background-position: center center;
  background-size: cover;
}
.beneficios h2 {
  color: #01402e;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 46px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
}
.beneficios img {
  filter: brightness(100%) contrast(100%) saturate(82%) blur(0px)
    hue-rotate(10deg);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #066a4d;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 7px 17px 0px rgb(6 106 77 / 18%);
}
.beneficios h6 {
  color: #01402e;
  font-family: "Open Sans", Sans-serif;
  font-size: clamp(20px, 3vw, 22px);
  font-weight: 500;
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #01402e;
  stroke: #01402e;
  line-height: 1;
  margin-top: 20px;
}
.beneficios .experimentar {
  font-family: "Tahoma", Sans-serif;
  font-size: 26px;
  font-weight: 800;
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(240deg, #8f221b 0%, #cc1f13 100%);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #5b110c;
  border-radius: 60px 60px 60px 60px;
  padding: 20px 70px 20px 70px;
}
/** MODO DE USO **/
.modo-uso {
  background-image: url(../img/bg2-glicozine-desktop10.jpg);
  background-position: center center;
  background-size: cover;
  border-width: 1px 0px 1px 0px;
  border-color: #038d9c;
}
.modo-uso h2 {
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 3vw, 36px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0px;
  word-spacing: 0em;
  margin-bottom: 20px;
}
.frasco-modo-uso {
  position: relative;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
/** DEPOIMENTOS **/
.depoimentos {
  background-color: #2C005A;
  padding-top: 60px;
  padding-bottom: 100px;
}
.depoimentos h2 {
  color: #fff;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 46px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 130px;
}
.card-depoimento {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/background-4.jpg);
  background-position: center center;
  background-size: cover;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #066a4d;
  box-shadow: 0px 8px 12px 0px rgb(0 0 0 / 11%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: -30px 10px 0px 10px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 10px;
  padding: 0px 25px 30px 25px;
  border-radius: 10px;
}
.card-depoimento:hover {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #066a4d;
  box-shadow: 0px 8px 11px 0px rgb(0 0 0 / 23%);
}
.card-depoimento img {
  max-width: 60%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #01402e;
  border-radius: 500px 500px 500px 500px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 24%);
  margin-top: -3.5rem;
}
.card-depoimento .fa-quote-right {
  color: #d6e7e3;
  border-color: #d6e7e3;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-depoimento p {
  text-align: center;
  color: #444444;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.4px;
}
.fa-star {
  margin-right: 3px;
  color: #f0ad4e;
  font-size: 16px;
  margin-top: 10px;
}
.card-depoimento h6 {
  color: #01402e;
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  -webkit-text-stroke-width: 0.5px;
  stroke-width: 0.5px;
  -webkit-text-stroke-color: #01402e;
  stroke: #01402e;
  margin-top: 20px;
}
/** AÇÃO CORPO **/
.acao-corpo {
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  border-color: #01402e;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/bg5-glicozine.jpg);
  background-position: center center;
  background-size: cover;
}
.acao-corpo h2 {
  color: #01402e;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 42px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.acao-corpo p {
  color: #444444;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}
.acao-corpo .frasco {
  position: relative;
  margin-bottom: -2rem;
  margin-top: -2rem;
  width: 55%;
}
/** FÓRMULA **/

.formula {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.91),
      rgba(255, 255, 255, 0.91)
    ),
    url(../img/padrao2-1.jpg);
  background-attachment: fixed;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.formula h2 {
  color: #01402e;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 46px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 60px;
}
.caixa {
  width: 85%;
}
.icone-formula {
  width: 25%;
}
.formula h6 {
  color: #01402e;
  font-family: "Open Sans", Sans-serif;
  font-size: 21px;
  font-weight: 500;
  -webkit-text-stroke-width: 0.5px;
  stroke-width: 0.5px;
  -webkit-text-stroke-color: #01402e;
  stroke: #01402e;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formula p {
  color: #444444;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}
.formula .experimentar {
  padding: 15px 40px 15px 45px;
}
/** ESPECIALISTA **/
.especialista {
  background-color: #d6e7e3;
}
.especialista-img {
  position: relative;
  margin-top: -5rem;
  margin-bottom: 3rem;
}
.especialista .fa-quote-right {
  color: #8f221b;
  border-color: #8f221b;
  font-size: 30px;
  margin-bottom: 15px;
}
.especialista h2 {
  color: #01402e;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 45px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 15px;
}
.especialista p {
  color: #444444;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}
.especialista h6 {
  color: #01402e;
  font-family: "Aguafina Script", Sans-serif;
  font-size: clamp(22px, 3vw, 26px);
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 2px;
  margin-top: 15px;
}
.especialista h6 > span {
  font-size: clamp(17px, 3vw, 18px);
}
/** KITS **/
.kits {
  background-color: #014d37;
  padding-top: 80px;
  padding-bottom: 300px;
}
.kits h2 {
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 50px;
}
.card-kit {
  box-shadow: 10px 10px 19px 0px rgb(0 0 0 / 25%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 0px 0px;
  --e-column-margin-right: 10px;
  --e-column-margin-left: 0px;
  background-color: white;
  border-radius: 10px;
}
.quantidade {
  background-color: #027e5b;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 0px 0px 17px 0px rgb(29 29 29 / 18%);
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  margin-top: -2px;
  text-align: center;
  padding: 15px;
  margin-right: 20px;
  width: 50%;
}
.desconto {
  color: #014d37;
  font-family: "Tahoma", Sans-serif;
  font-size: 15px;
  font-weight: 800;
  line-height: 1.2em;
  text-align: center;
  padding: 10px;
  width: 50%;
}
.kit-img {
  width: 20%;
}
.kit-img-2 {
  width: 65%;
}
.kit-img-3 {
  width: 87%;
}
.body-kit {
  padding-top: 40px;
  padding-bottom: 30px;
}
.leve {
  color: #01402e;
  font-family: "Open Sans", Sans-serif;
  font-size: clamp(21px, 3vw, 24px);
  font-weight: 500;
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #01402e;
  stroke: #01402e;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contem {
  text-align: center;
  color: #6f6f6f;
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2em;
  font-style: italic;
  margin: 0px 25px 0px 25px;
  padding: 0px 5px 10px 5px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6d6d6d66;
  margin-bottom: 15px;
}
.texto-apenas {
  text-align: center;
  color: #020101bf;
  font-family: "Open Sans", Sans-serif;
  font-size: clamp(20px, 3vw, 22px);
  font-weight: 500;
  margin-bottom: 0.9rem;
}
.texto-apenas-2 {
  text-align: center;
  color: #020101db;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(19px, 3vw, 21px);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.divisor {
  border: 0;
  border-top: 1px solid #909090;
  height: 1px;
  overflow: visible;
  padding: 0;
  color: #020101fa;
  text-align: center;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divisor::after {
  content: "OU";
  display: inline-block;
  position: relative;
  top: -0.9em;
  padding: 0 1em;
  background: white;
  text-align: center;

  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
}
.ate {
  text-align: center;
  color: #020101bf;
  font-family: "Open Sans", Sans-serif;
  font-size: clamp(19px, 3vw, 21px);
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.valor {
  color: #01402e;
  font-family: "Tahoma", Sans-serif;
  font-size: 74px;
  font-weight: 700;
  -webkit-text-stroke-width: 3px;
  stroke-width: 3px;
  -webkit-text-stroke-color: #01402e;
  stroke: #01402e;
  line-height: 1;
}
.real {
  color: #01402e;
  font-family: "Tahoma", Sans-serif;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
  vertical-align: middle;
  margin-right: 5px;
}
.comprar-agora {
  font-family: "Tahoma", Sans-serif;
  font-size: 22px;
  font-weight: 800;
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: radial-gradient(at bottom center, #e92c1f 0%, #ba1d12 100%);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #951911;
  border-radius: 10px 10px 10px 10px;
  padding: 25px 40px 25px 40px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}
.frete {
  font-family: "Open Sans", Sans-serif;
  font-size: clamp(14px, 3vw, 15px);
  font-weight: 500;
  color: #020101bf;
}
.fa-truck {
  font-size: 18px;
}
.comprar-agora:hover {
  color: white;
}
.kits h6 {
  color: #ffffff;
  font-family: "Open Sans", Sans-serif;
  font-size: clamp(19px, 3vw, 24px);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1em;
  padding-bottom: 20px;
  padding-top: 70px;
}
/** GARANTIA **/
.garantia-2 {
  background-color: #d6e7e3;
}
.garantia {
  background-image: radial-gradient(at center center, #24b58d 0%, #03815e 100%);
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #b8241a;
  box-shadow: 0px 11px 14px 0px rgb(0 0 0 / 25%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -250px;
  margin-bottom: 0px;
  padding: 0px 35px 0px 35px;
  border-radius: 10px 10px 10px 10px;
}
.garantia h5 {
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(22px, 3vw, 30px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 20px;
}
.garantia p {
  text-align: left;
  color: #ffffff;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
}
/** PERGUNTAS FREQUENTES **/
.perguntas-frequentes {
  padding-top: 100px;
  background-color: #2C005A;
}
.questoes {
  box-shadow: 0px 6px 21px 0px rgb(0 0 0 / 11%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 60px 40px 60px 40px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}
.questoes h2 {
  color: #074130;
  font-family: "Tahoma", Sans-serif;
  font-size: clamp(28px, 4vw, 46px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1em;
  margin-bottom: 40px;
}
.accordion-button {
  border-width: 1px;
  border-color: #3e3e3e4f;
  background-color: #8366FE;
  padding: 16px 20px 16px 20px;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.5px;
  color: #01402e;
}
.accordion-item {
  box-shadow: 0px 1px 6px 0px rgb(95 95 95 / 13%);
  margin-bottom: 15px;
  border: 0;
  border-radius: 0;
}
.accordion-body {
  border-bottom: 1px solid #d4d4d4;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-width: 1px;
  border-bottom-color: #3e3e3e4f;
  background-color: #ffffff;
  color: #444444;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.3px;
  text-align: left;
  padding: 15px 20px 15px 20px;
}
.accordion-button::after {
  content: "\f0da";
  color: #16424e;
  font-size: 16px;
  background-image: none;
  width: 1rem;
  font-family: "Font Awesome 5 Free";
}
.accordion-button:not(.collapsed)::after {
  color: #ffffff;
  content: "\f0d8";
  font-size: 16px;
  background-image: none;
  transform: initial;
  width: 1rem;
  font-family: "Font Awesome 5 Free";
}
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  border-width: 1px;
  border-color: #3e3e3e4f;
  background-color: #9ed2c3d9;
  padding: 16px 20px 16px 20px;
  box-shadow: 0 0 0 0.25rem transparent;
  font-family: "Open Sans", Sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.5px;
  color: #01402e;
}
.outras-garantias {
  margin-top: 80px;
  position: relative;
    margin-bottom: -4rem;
}
.garantia-box {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #b8241a;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 15%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 10px 0px 0px;
  padding: 15px 20px 16px 23px;
  border-radius: 8px 8px 8px 8px;
  background-color: #ffffff;
  height: 100%;
}
.garantia-box i {
  fill: #00956c;
  color: #00956c;
  border-color: #00956c;
  font-size: 45px;
  margin-bottom: 20px;
}
.garantia-box h6 {
  font-family: "Tahoma", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #01402e;
}
.garantia-box p {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3em;
  color: #7a7a7a;
  margin-bottom: 0;
}
/** FOOTER **/
footer {
  background-color: #00694c;
  padding-top: 100px;
  padding-bottom: 20px;
}
footer h6 {
  color: #ffffff;
  font-family: "Tahoma", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 20px;
}
footer p {
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.whatsapp {
  font-family: "Tahoma", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  fill: #00694c;
  color: #00694c;
  background-color: #ffd500;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #c3c3c3;
  border-radius: 25px 25px 25px 25px;
  padding: 15px 40px 15px 40px;
  margin-bottom: 20px;
}
.whatsapp:hover {
  color: #00694c;
  animation-name: pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes pulse-grow {
  to {
    transform: scale(1.1);
  }
}
.rastrear{
  background-color: #FFFFFF;
  fill: #00956C;
    color: #00956C;
}
.divisor-4{
  border-top:1px solid #fff;
  opacity: 1;
  margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  /** BANNER **/
  .banner {
    background-position: center right;
    padding: 30px 15px 0px 15px;
  }
  .banner h1 {
    margin-bottom: 15px;
  }
  .banner h4 {
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: 0.9px;
    margin-bottom: 15px;
  }
  .experimentar {
    font-size: 18px;
    padding: 19px 50px 17px 50px;
  }
  .banner p {
    font-size: 17px;
    line-height: 1.3em;
  }
  /** BENEFÍCIOS **/
  .beneficios {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .beneficios h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .beneficios .experimentar {
    font-size: 18px;
    padding: 19px 50px 17px 50px;
  }
  /** MODO USO **/
  .modo-uso {
    background-image: url(../img/bg2-glicozine-mobile-11.webp);
    background-position: top center;
    padding: 380px 15px 0px 15px;
  }
  .agrupar {
    width: 78%;
  }
  .frasco-modo-uso {
    margin-top: 5%;
    width: 57%;
  }
  /** DEPOIMENTOS **/
  .depoimentos {
    padding: 50px 15px 50px 15px;
  }
  /** AÇÃO CORPO **/
  .acao-corpo {
    background-image: url(../img/bg6-mobile.webp);
    padding: 300px 15px 0px 15px;
  }
  .acao-corpo .frasco {
    width: 30%;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
  /** FÓRMULA **/
  .formula {
    padding: 50px 15px 120px 15px;
  }
  .formula h2 {
    margin-bottom: 20px;
  }
  /** KITS **/
  .kits {
    padding: 50px 15px 80px 15px;
  }
  .kits h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .quantidade {
    line-height: 1.3em;
    padding: 15px 10px;
    margin-right: 0px;
  }
  .valor {
    font-size: 55px;
  }
  .comprar-agora {
    font-size: 17px;
    padding: 18px 50px 16px 50px;
  }
  .desconto {
    padding: 5px;
  }
  /** GARANTIA **/
  .garantia-2 {
    padding-top: 13rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  .garantia {
    border-radius: 10px;
    padding: 50px 15px 0px 15px;
  }
  .garantia p {
    font-size: 17px;
    line-height: 1.4em;
  }
  .divisor-3 {
    border-top: 3px solid #b8241a;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 30px;
  }
  /** PERGUNTAS FREQUENTES **/
  .perguntas-frequentes {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 30px 0px 30px 0px;
  }
  .questoes {
    padding: 60px 15px 60px 15px;
  }
  .garantia-box {
    padding: 15px 15px 15px 15px;
  }
  .outras-garantias{
    margin-top:60px;
  }
  /** FOOTER **/
  footer{
    margin-bottom: 0px;
    padding: 75px 15px 20px 15px;
  }

}
@media (min-width: 768px) and (max-width: 1919px) {
  .quantidade {
    padding: 15px 10px;
    margin-right: 0;
  }
}
